name: CI

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:

          ### Alpine 3.15
          - image: "alpine/3.15/8.0/Dockerfile"
            tags: [ "spryker/php:8.0-alpine3.15" ]
            platforms: [ "linux/amd64", "linux/arm64" ]
          - image: "alpine/3.15/8.1/Dockerfile"
            tags: [ "spryker/php:8.1-alpine3.15" ]
            platforms: [ "linux/amd64", "linux/arm64" ]

          ### Alpine 3.16
          - image: "alpine/3.16/8.0/Dockerfile"
            tags: [ "spryker/php:8.0", "spryker/php:8.0-alpine3.16" ]
            platforms: [ "linux/amd64", "linux/arm64" ]
          - image: "alpine/3.16/8.1/Dockerfile"
            tags: [ "spryker/php:8.1-alpine3.16" ]
            platforms: [ "linux/amd64", "linux/arm64" ]
          - image: "alpine/3.16/8.2/Dockerfile"
            tags: [ "spryker/php:8.2-alpine3.16" ]
            platforms: [ "linux/amd64", "linux/arm64" ]

          ### Alpine 3.17
          - image: "alpine/3.17/8.1/Dockerfile"
            tags: [ "spryker/php:8.1", "spryker/php:8.1-alpine3.17" ]
            platforms: [ "linux/amd64", "linux/arm64" ]
          - image: "alpine/3.17/8.2/Dockerfile"
            tags: [ "spryker/php:latest", "spryker/php:8.2", "spryker/php:8.2-alpine3.17" ]
            platforms: [ "linux/amd64", "linux/arm64" ]

          ## Debian
          ### Debian bullseye
          - image: "debian/bullseye/8.0/Dockerfile"
            tags: [ "spryker/php:8.0-debian" ]
            platforms: [ "linux/amd64", "linux/arm64" ]
          - image: "debian/bullseye/8.1/Dockerfile"
            tags: [ "spryker/php:8.1-debian" ]
            platforms: [ "linux/amd64", "linux/arm64" ]
          - image: "debian/bullseye/8.2/Dockerfile"
            tags: [ "spryker/php:8.2-debian" ]
            platforms: [ "linux/amd64", "linux/arm64" ]
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: ${{ github.ref == 'refs/heads/master' }}
          file: ${{ matrix.image }}
          tags: ${{ join(matrix.tags) }}
          platforms: ${{ join(matrix.platforms) }}
